<div class="login-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (loginForm) {
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de Usuario</mat-label>
          <input
            type="text"
            matInput
            formControlName="username"
            placeholder="Nombre de Usuario"
          />
          @if (loginForm.controls['username'].hasError('required')) {
          <mat-error> El nombre es <strong>requerido</strong> </mat-error>
          }
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Contraseña"
          />
          @if (loginForm.controls['password'].hasError('required')) {
          <mat-error> La contraseña es <strong>requerida</strong> </mat-error>
          }
        </mat-form-field>
        <br />
        <mat-card-actions>
          <button
            id="login"
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="loginForm.invalid"
            (click)="login()"
          >
            Login
          </button>
        </mat-card-actions>
        <div>
          <a (click)="openPasswordReset()">¿Olvido su contrasena?</a>
        </div>
      </form>
      }
    </mat-card-content>
  </mat-card>
</div>
