<mat-toolbar id="border" class="">
  <span>Habitaciones</span>
  <span class="spacer"></span>
  @if (hasPermission(permissions.Habitacion.Create)) {
  <button mat-flat-button color="warn" id="nuevo" (click)="openDialog('c')">
    <span>Nuevo</span>
    <mat-icon>add</mat-icon>
  </button>
  }
</mat-toolbar>

<ngx-spinner
  bdOpacity="0.9"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#000000"
  type="ball-scale-multiple"
>
  <p style="color: white">Cargando los datos...</p>
</ngx-spinner>

@if (isLoaded) {
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let habitaciones">{{ habitaciones.nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="nombre_alojamiento">
      <th mat-header-cell *matHeaderCellDef>Alojamiento</th>
      <td mat-cell *matCellDef="let habitaciones">
        {{ habitaciones.alojamiento_id.nombre }}
      </td>
    </ng-container>
    <ng-container matColumnDef="numero_personas">
      <th mat-header-cell *matHeaderCellDef>Personas</th>
      <td mat-cell *matCellDef="let habitaciones">
        {{ habitaciones.numero_personas }}
      </td>
    </ng-container>
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let habitaciones">
        {{ habitaciones.precio | currency : "USD" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let habitaciones">{{ habitaciones.estado }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let habitaciones">
        <ng-container>
          @if (hasPermission(permissions.Habitacion.Update)) {
          <button
            mat-mini-fab
            color="primary"
            class="mr-2 mb-2 mt-2"
            (click)="openDialog('u', habitaciones.id)"
          >
            <mat-icon appTooltip="Editar">create</mat-icon>
          </button>
          }
        </ng-container>
        <span class="button-spacing"></span>
        <ng-container>
          @if (hasPermission(permissions.Habitacion.Delete)) {
          <button
            mat-mini-fab
            color="warn"
            class="mr-2 mb-2 mt-2"
            (click)="removeRoom(habitaciones.id)"
          >
            <mat-icon appTooltip="Eliminar">delete_forever</mat-icon>
          </button>
          }
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
}
