<mat-toolbar id="border" class="">
  <span>Clientes</span>
  <span class="spacer"></span>
  <button mat-flat-button color="warn" id="nuevo" (click)="openDialog('c')">
    Nuevo
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: white"> Cargando datos... </p>
</ngx-spinner>

@if (isLoaded) {
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> N<sup>o</sup> </th>
        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let clientes"> {{clientes.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let clientes"> {{clientes.apellido}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let clientes"> {{clientes.telefono}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let clientes"> {{clientes.email}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let clientes">
          <ng-container>
            <button mat-mini-fab color="primary" class="" (click)="openDialog('u', clientes.id)">
              <mat-icon appTooltip="Editar">create</mat-icon>
            </button>
          </ng-container>
          <span class="button-spacing"></span>
          <ng-container>
            @if (hasPermission(permissions.Cliente.Delete)) {
              <button mat-mini-fab color="warn" class="" (click)="deleteClient(clientes.id)"
                >
                <mat-icon appTooltip="Eliminar">delete_forever</mat-icon>
              </button>
            }
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
}
