@if (form) {
<form [formGroup]="form">
  <mat-card appearance="outlined" class="form-card">
    <mat-card-header>
      <mat-card-title>Formulario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Nombres:</mat-label>
            <input
              matInput
              formControlName="nombre"
              name="nombre"
              placeholder="Nombre del Cliente"
              autocomplete="off"
              maxlength="25"
            />
            @if (form.controls['nombre'].hasError('required')) {
            <mat-error> El nombre es <strong>requerido</strong> </mat-error>
            } @if (form.controls['nombre'].hasError('minlength')) {
            <mat-error> El nombre debe de tener minimo 3 caracteres </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Apellidos:</mat-label>
            <input
              matInput
              formControlName="apellido"
              name="apellido"
              placeholder="Apellidos del Cliente"
              autocomplete="off"
              maxlength="25"
            />
            @if (form.controls['apellido'].hasError('required')) {
            <mat-error> El apellido es <strong>requerido</strong> </mat-error>
            } @if (form.controls['apellido'].hasError('minlength')) {
            <mat-error>
              El apellido debe de tener minimo 3 caracteres
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input
              matInput
              type="tel"
              formControlName="telefono"
              name="telefono"
              placeholder="Número de telefono"
              autocomplete="off"
              maxlength="8"
            />
            @if (form.controls['telefono'].hasError('required')) {
            <mat-error> El telefono es <strong>requerido</strong> </mat-error>
            } @if (form.controls['telefono'].hasError('minlength')) {
            <mat-error> El telefono debe de tener minimo 8 digitos </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <input
              type="email"
              matInput
              name="email"
              formControlName="email"
              placeholder="Correo electronico"
              autocomplete="off"
            />
            @if (form.controls['email'].hasError('required')) {
            <mat-error> El email es <strong>requerido</strong> </mat-error>
            } @if (form.controls['email'].hasError('email')) {
            <mat-error> El email debe ser valido </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de Identificación</mat-label>
            <mat-select formControlName="tipo_identificacion">
              @for (tip_Document of TipoDocumento; track tip_Document) {
              <mat-option [value]="tip_Document">
                {{ tip_Document }}
              </mat-option>
              }
            </mat-select>
            @if (form.controls['tipo_identificacion'].hasError('required')) {
            <mat-error>
              El tipo de identificacion es <strong>requerida</strong>
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Número de Identificacion:</mat-label>
            <input
              type="text"
              matInput
              name="num_identificacion"
              formControlName="num_identificacion"
              placeholder="Número de Identificacion"
              autocomplete="off"
            />
            @if (form.controls['num_identificacion'].hasError('required')) {
            <mat-error>
              El número de identificacion es <strong>requerido</strong>
            </mat-error>
            } @if (form.controls['num_identificacion'].hasError('minlength')) {
            <mat-error>
              El número de identificacion debe de tener minimo 16 caracteres
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <button
          mat-raised-button
          color="primary"
          class="pull-left"
          type="button"
          id="btn_guardar"
          (click)="data.type === 'c' ? saveCustomer() : updateClient()"
          [disabled]="form.invalid"
        >
          Guardar
          <i class="material-icons">save</i>
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          class="pull-right"
          id="btn_salir"
          (click)="dialogRef.close()"
        >
          Cancelar
          <i class="material-icons">cancel</i>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
}
